* {
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%
}

body {
  background-color: #091353;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  margin: auto;
  display: block;
  height: 256px;
  width: 256px;
  margin-top: 30px;
  margin-bottom: 30px;
}

nav {
  display: flex;
  margin: 20px, 0;
}

nav a {
  flex: 1;
  padding: 20px;
  font-size: 300%;
  color: #091353;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #FFF;
  border: 2px solid #091353;
}

h1 {
  color: #FFF;
  font-size: 350%;
  margin: 20px 0;
  text-align: center;
}

p {
  margin: auto;
  color: #091353;
  font-size: 250%;
  text-align: center;
  padding: 10px 20px;
  background-color: #FFF;
  border-top: 1px solid #091353;
}

em {
  font-style: normal;
  font-size: 120%
}