* {
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%
}

body {
  background-color: #1914A6;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  margin: auto;
  display: block;
  height: 256px;
  width: 256px;
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  margin: 20px, 0;
}

nav a {
  flex: 1;
  padding: 20px;
  font-size: 300%;
  cursor: pointer;
  color: #1914A6;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background-color: #FFF;
  border: 2px solid #1914A6;
  transition: all 0.3s ease;
}

nav a.active {
  color:#FFF;
  background: #1914A6;
}

h1 {
  color: #FFF;
  font-size: 350%;
  margin: 20px 0;
  text-align: center;
}

p {
  margin: auto;
  color: #1914A6;
  font-size: 250%;
  text-align: center;
  padding: 10px 20px;
  background-color: #FFF;
  border-top: 1px solid #1914A6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

em {
  font-style: normal;
  font-size: 120%
}